<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>188484419885-flgte7khsbad2g7v1374rhoqlbdvltuq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.188484419885-flgte7khsbad2g7v1374rhoqlbdvltuq</string>
	<key>API_KEY</key>
	<string>AIzaSyDQUTIvN4CYZDA4UzCZp8QuY4c6gPFBHmU</string>
	<key>GCM_SENDER_ID</key>
	<string>188484419885</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>DLZ.MangaTracker</string>
	<key>PROJECT_ID</key>
	<string>manga-tracker-app-54421</string>
	<key>STORAGE_BUCKET</key>
	<string>manga-tracker-app-54421.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:188484419885:ios:c8ca676d9659d841d7d3a4</string>
</dict>
</plist>